:root {
  --color-black: #000;
  --color-white: #fff;
  --color-main: #444b58;
  --color-main-hover: #31343c;
  --color-eastbay: #484283;
  --color-accent: #f14f4f;
  --color-accent-hover: #cc4949;
  --color-border: rgba(255, 255, 255, 0.5);
  --color-bg: #fff4ee;
  --color-cameo: #dbbba9;
  --grid-gap: 20px;
  --main-offset: 40px;
  --second-offset: 20px;
  --small-offset: 10px;
  --big-offset: 60px;
  --font-family: "Intro", sans-serif;
  --middle-high-bold: 700 30px / 140% var(--font-family);
  --prehigh-book: 400 24px / 24px var(--font-family);
  --prehigh-regular: 600 20px / 20px var(--font-family);
  --middle-book: 400 16px / 140% var(--font-family);
  --middle-regular: 600 16px / 140% var(--font-family);
  --small-book: 400 14px / 140% var(--font-family);
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/IntroRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/IntroBook.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/IntroBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "asd", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.btn {
  border-radius: 4px;
  padding: 22px 47px;
  font: var(--middle-regular);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn--primary {
  color: var(--color-white);
  background-color: var(--color-accent);
}
.btn--primary:hover {
  background-color: var(--color-accent-hover);
}

.title {
  margin: 0;
  margin-bottom: var(--main-offset);
  font: var(--middle-high-bold);
  color: var(--color-main);
}

.custom-checkbox {
  position: relative;
}
.custom-checkbox__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.custom-checkbox__content {
  padding-left: 25px;
  cursor: pointer;
}
.custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
}
.custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='fi_32282' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='405.272px' height='405.272px' viewBox='0 0 405.272 405.272' style='enable-background:new 0 0 405.272 405.272;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.custom-checkbox__content {
  padding-left: 35px;
  font: var(--middle-book);
  color: var(--color-main);
}
.custom-checkbox__content::before {
  top: -3px;
  border-color: var(--color-cameo);
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
.custom-checkbox__content::after {
  top: -3px;
  width: 24px;
  height: 24px;
  background-image: url("../img/check.svg");
  background-size: 15px 12px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}
.header__container {
  --paddings: 15px;
  position: relative;
  align-items: center;
  padding: var(--second-offset) var(--paddings);
}
.header__container::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: calc(100% - var(--paddings) * 2);
  height: 1px;
  background-color: var(--color-border);
  transform: translateX(-50%);
}
.header__left {
  grid-column: 2 span;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  grid-column: 10 span;
}

.hero {
  position: relative;
  padding: 130px 0;
  height: 528px;
  background-color: var(--color-eastbay);
}
.hero__container {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.hero__bg-text {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  margin-top: 70px;
  margin-left: 50px;
  font-family: "Intro", sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  color: rgba(255, 255, 255, 0.12);
  transform: translate(-50%, -50%);
}
.hero__title {
  margin: 0;
  margin-top: 50px;
  margin-bottom: var(--second-offset);
  max-width: 50%;
  font: 700 36px/140% var(--font-family);
  color: var(--color-white);
}
.hero__descr {
  margin: 0;
  margin-bottom: var(--main-offset);
  max-width: calc(50% - 100px);
  font: var(--middle-book);
  color: var(--color-white);
}

.catalog {
  padding: var(--big-offset) 0;
}
.catalog__left {
  grid-column: 3 span;
  border-radius: 4px;
  padding: var(--second-offset);
  background-color: var(--color-bg);
}
.catalog__grid {
  grid-column: 9 span;
}
.catalog__subtitle {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
  color: var(--color-main);
}
.catalog__caption {
  display: block;
  margin-bottom: var(--small-offset);
  font: var(--middle-book);
  color: var(--color-main);
}
.catalog__prop {
  margin-bottom: var(--second-offset);
}
.catalog__prop-checkboxes {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  grid-template-columns: repeat(9, 1fr);
}
.catalog-list__item {
  grid-column: 3 span;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: var(--main-offset);
}
.nav__link {
  font: var(--small-book);
  color: var(--color-white);
}

.cart {
  margin-left: var(--main-offset);
}
.cart__btn {
  position: relative;
  width: 20px;
  height: 20px;
}
.cart__btn svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cart__count {
  position: absolute;
  right: -6px;
  bottom: -6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 16px;
  min-width: 16px;
  font: var(--small-book);
  color: var(--color-white);
  background-color: var(--color-accent);
}

.logo {
  font: var(--middle-high-bold);
  line-height: 1;
  color: var(--color-white);
}

.product {
  overflow: hidden;
  border-radius: 4px;
}
.product__btns {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.product__image {
  position: relative;
  margin-bottom: var(--small-offset);
  width: 100%;
  max-height: 293px;
}
.product__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product__title {
  margin: 0;
  margin-bottom: var(--small-offset);
  font: var(--middle-book);
  color: var(--color-main);
}
.product__price {
  margin: 0;
  font: var(--prehigh-regular);
  color: var(--color-main);
}
.product__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: var(--color-main);
  transition: background-color 0.3s ease-in-out;
}
.product__btn svg {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}
.product__btn:hover {
  background-color: var(--color-main-hover);
}
.product__btn:first-child {
  margin-right: var(--main-offset);
}
.product:hover .product__btns {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */
