.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-main: #444b58;
  --color-main-hover: #31343c;
  --color-eastbay: #484283;
  --color-accent: #f14f4f;
  --color-accent-hover: #cc4949;
  --color-border: rgba(255, 255, 255, 0.5);
  --color-bg: #fff4ee;
  --color-cameo: #dbbba9;
  --color-grey: #b2b5bb;
  --color-jumbo: #808080;
  --color-btn-active: #8c2828;
  --grid-gap: 20px;
  --main-offset: 40px;
  --second-offset: 20px;
  --small-offset: 10px;
  --big-offset: 60px;
  --font-family: "Intro", sans-serif;
  --middle-high-bold: 700 30px / 140% var(--font-family);
  --prehigh-book: 400 24px / 24px var(--font-family);
  --prehigh-regular: 600 20px / 20px var(--font-family);
  --middle-book: 400 16px / 140% var(--font-family);
  --middle-regular: 600 16px / 140% var(--font-family);
  --small-book: 400 14px / 140% var(--font-family);
}

@media (max-width: 576px) {
  :root {
    --grid-gap: 10px;
    --main-offset: 20px;
    --second-offset: 14px;
    --small-offset: 8px;
    --big-offset: 30px;
  }
}
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/IntroRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/IntroBook.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/IntroBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Intro", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}
@media (max-width: 576px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.btn {
  outline: none;
  border-radius: 4px;
  padding: 22px 47px;
  font: var(--middle-regular);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn--primary {
  color: var(--color-white);
  background-color: var(--color-accent);
}
@media (min-width: 1025px) {
  .btn--primary:hover {
    background-color: var(--color-accent-hover);
  }
}
.btn--primary:active {
  background-color: var(--color-btn-active);
}
.btn--secondary {
  color: var(--color-white);
  background-color: var(--color-main);
}
@media (min-width: 1025px) {
  .btn--secondary:hover {
    background-color: var(--color-main-hover);
  }
}
.btn--secondary:active {
  background-color: var(--color-btn-active);
}
.btn--third {
  border: 1px solid var(--color-main);
  padding: 13px 45px;
  color: var(--color-main);
  background-color: transparent;
}
@media (min-width: 1025px) {
  .btn--third:hover {
    color: var(--color-white);
    background-color: var(--color-main);
  }
}
.btn--third:active {
  background-color: var(--color-btn-active);
}

.btn--primary.focus-visible {
  background-color: var(--color-accent-hover);
}

.btn--secondary.focus-visible {
  background-color: var(--color-main-hover);
}

.btn--third.focus-visible {
  color: var(--color-white);
  background-color: var(--color-main);
}

.title {
  margin: 0;
  margin-bottom: var(--main-offset);
  font: var(--middle-high-bold);
  color: var(--color-main);
}

.custom-checkbox {
  position: relative;
}
.custom-checkbox__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.custom-checkbox__content {
  padding-left: 25px;
  cursor: pointer;
}
.custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
}
.custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='fi_32282' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='405.272px' height='405.272px' viewBox='0 0 405.272 405.272' style='enable-background:new 0 0 405.272 405.272;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.custom-checkbox__content {
  padding-left: 35px;
  font: var(--middle-book);
  color: var(--color-main);
}
.custom-checkbox__content::before {
  top: -3px;
  border-color: var(--color-cameo);
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
.custom-checkbox__content::after {
  top: -3px;
  width: 24px;
  height: 24px;
  background-image: url("../img/check.svg");
  background-size: 15px 12px;
}
.custom-checkbox .custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid var(--color-accent);
}

.tooltip {
  position: relative;
  margin-left: var(--small-offset);
}

.tooltip__btn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
  background-color: var(--color-white);
}
.tooltip__btn svg {
  width: 6px;
  height: 10px;
}

.tooltip__txt {
  position: absolute;
  left: -10px;
  bottom: calc(100% + 14px);
  z-index: 3;
  padding: var(--small-offset) var(--second-offset);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 426px;
  box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
  font: var(--small-book);
  text-transform: initial;
  color: var(--color-main);
  background: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

.tooltip__txt::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -7px;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: var(--color-white) transparent transparent transparent;
  border-radius: 4px;
  width: 0;
  height: 0;
}

.tooltip__btn:hover + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.input {
  border: none;
  border-radius: 4px;
  padding: 0 var(--second-offset);
  width: 100%;
  height: 60px;
  font: var(--middle-book);
  color: var(--color-main);
  background-color: var(--color-white);
}
.input::-moz-placeholder {
  color: var(--color-grey);
}
.input:-ms-input-placeholder {
  color: var(--color-grey);
}
.input::placeholder {
  color: var(--color-grey);
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-eastbay);
}
.header__container {
  --paddings: 15px;
  position: relative;
  align-items: center;
  padding: var(--second-offset) var(--paddings);
}
.header__container::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: calc(100% - var(--paddings) * 2);
  height: 1px;
  background-color: var(--color-border);
  transform: translateX(-50%);
}
.header__left {
  grid-column: 2 span;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  grid-column: 10 span;
}
@media (max-width: 576px) {
  .header__right {
    grid-column: 2 span;
  }
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.hero {
  position: relative;
  padding: 130px 0;
  height: 528px;
  background-color: var(--color-eastbay);
}
.hero__container {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.hero__bg-text {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  margin-top: 70px;
  margin-left: 50px;
  font-family: "Intro", sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  color: rgba(255, 255, 255, 0.12);
  transform: translate(-50%, -50%);
}
@media (max-width: 1024px) {
  .hero__bg-text {
    display: none;
  }
}
.hero__title {
  margin: 0;
  margin-top: 50px;
  margin-bottom: var(--second-offset);
  max-width: 50%;
  font: 700 36px/140% var(--font-family);
  color: var(--color-white);
}
@media (max-width: 768px) {
  .hero__title {
    max-width: none;
  }
}
.hero__descr {
  margin: 0;
  margin-bottom: var(--main-offset);
  max-width: calc(50% - 100px);
  font: var(--middle-book);
  color: var(--color-white);
}
@media (max-width: 768px) {
  .hero__descr {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 50px 0;
    height: auto;
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.catalog {
  padding: var(--big-offset) 0;
}
.catalog__left {
  grid-column: 3 span;
}
@media (max-width: 1024px) {
  .catalog__left {
    display: none;
  }
}
.catalog__grid {
  grid-column: 9 span;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .catalog__grid {
    grid-column: 12 span;
  }
}
.catalog__subtitle {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
  color: var(--color-main);
}
.catalog__caption {
  display: block;
  margin-bottom: var(--small-offset);
  font: var(--middle-book);
  color: var(--color-main);
}
.catalog__prop {
  margin-bottom: var(--second-offset);
}
.catalog__prop-checkboxes {
  display: flex;
  justify-content: space-between;
}
.catalog__apply {
  width: 100%;
  margin-bottom: var(--second-offset);
}
.catalog__more {
  margin-top: var(--big-offset);
}
.catalog__reset {
  outline: none;
  transition: color 0.3s ease-in-out;
}
.catalog__reset:focus {
  color: var(--color-accent);
}
@media (min-width: 1025px) {
  .catalog__reset:hover {
    color: var(--color-accent);
  }
}
.catalog__reset:active {
  color: var(--color-accent-hover);
}

.catalog-list {
  grid-template-columns: repeat(9, 1fr);
}
.catalog-list__item {
  grid-column: 3 span;
}
@media (max-width: 576px) {
  .catalog-list__item {
    grid-column: 4 span;
  }
}
@media (max-width: 576px) {
  .catalog-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog-filters {
  background-color: var(--color-bg);
  border-radius: 4px;
  padding: var(--second-offset);
}
.catalog-filters__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-price__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.catalog-price__wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 8px;
  bottom: 8px;
  width: 1px;
  height: 34px;
  background-color: var(--color-grey);
  transform: translateX(-50%);
}
.catalog-price__input {
  outline: none;
  border: 1px solid var(--color-grey);
  width: 50%;
  height: 50px;
  font: var(--middle-book);
  text-align: center;
  color: var(--color-main);
  background-color: transparent;
}
.catalog-price__input:first-child {
  border-right: none;
  border-top-left-radius: 4px;
}
.catalog-price__input:last-child {
  border-left: none;
  border-top-right-radius: 4px;
}
.catalog-price .noUi-horizontal {
  height: 2px;
}
.catalog-price .noUi-target {
  border: none;
  box-shadow: none;
  background-color: var(--color-main);
}
.catalog-price .noUi-connect {
  background-color: var(--color-main);
}
.catalog-price .noUi-horizontal .noUi-handle {
  width: 3px;
  height: 18px;
  top: -8px;
}
.catalog-price .noUi-handle {
  right: 0;
  border: none;
  border-radius: 100px;
  background-color: var(--color-main);
  cursor: pointer;
  box-shadow: none;
}
.catalog-price .noUi-handle::after,
.catalog-price .noUi-handle::before {
  display: none;
}
.catalog-price .noUi-handle-lower {
  right: -3px;
}

.noUi-handle:focus {
  background-color: var(--color-accent);
}

.catalog-price__input.focus-visible {
  background-color: var(--color-cameo);
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.about {
  position: relative;
  overflow: hidden;
  background-color: var(--color-eastbay);
}
.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.about__figure {
  position: absolute;
  left: 0;
  top: 0;
}
.about__text {
  width: 34%;
  transform: translateY(70px);
}
@media (max-width: 768px) {
  .about__text {
    transform: none;
    width: 100%;
  }
}
.about__title {
  margin-bottom: var(--second-offset);
  color: var(--color-white);
}
.about__descr {
  font: var(--middle-book);
  color: var(--color-white);
}
.about__quote {
  font: inherit;
  display: inline-block;
  margin-bottom: var(--second-offset);
}
.about__quote::before, .about__quote::after {
  display: none;
}
.about__author {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font: var(--prehigh-regular);
  font-style: normal;
  transform: translateX(50px);
}
.about__author::before {
  content: "";
  display: inline-block;
  margin-right: var(--second-offset);
  width: 30px;
  height: 3px;
  background-color: var(--color-white);
}
@media (max-width: 768px) {
  .about__author {
    transform: none;
  }
}
.about__image {
  position: relative;
  flex-shrink: 0;
  width: 550px;
  overflow: hidden;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.about__image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .about__image {
    display: none;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 50px 0;
    height: auto;
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.quiz {
  padding: var(--big-offset) 0;
}
.quiz__content {
  border-radius: 4px;
  padding: var(--main-offset) 100px;
  background-color: var(--color-bg);
}
@media (max-width: 768px) {
  .quiz__content {
    padding: var(--main-offset);
  }
}
.quiz__title {
  margin-bottom: var(--second-offset);
}
.quiz__descr {
  margin: 0;
  border-bottom: 1px solid currentColor;
  padding-bottom: var(--small-offset);
  font: var(--middle-book);
  color: var(--color-jumbo);
}

.quiz-questions {
  padding: var(--second-offset) 0;
}

.quiz-question__title {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
  color: var(--color-main);
}
.quiz-question__label {
  display: inline-block;
}
.quiz-question__message {
  border: none;
  border-radius: 4px;
  padding: var(--second-offset);
  width: 465px;
  height: 246px;
  color: var(--color-cameo);
  background-color: var(--color-white);
  resize: none;
}
.quiz-question__answers {
  display: grid;
  grid-auto-rows: 155px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: var(--main-offset);
  gap: var(--grid-gap) 70px;
}
@media (max-width: 768px) {
  .quiz-question__answers {
    gap: var(--second-offset);
  }
}
.quiz-question__item img {
  margin-bottom: var(--small-offset);
}
.quiz-question__counter {
  font: var(--middle-book);
  color: var(--color-jumbo);
}

.quiz-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-jumbo);
  padding-top: var(--second-offset);
}

.last-question {
  display: none;
  padding-top: var(--second-offset);
}
.last-question__form {
  position: relative;
  border-radius: 4px;
  padding: var(--main-offset);
  max-width: 655px;
  background: var(--color-cameo);
}
.last-question__decorate {
  position: absolute;
  right: -185px;
  top: -5px;
}
@media (max-width: 768px) {
  .last-question__decorate {
    display: none;
  }
}
.last-question__title {
  margin: 0;
  margin-bottom: var(--small-offset);
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: var(--color-white);
}
@media (max-width: 576px) {
  .last-question__title {
    font-size: 24px;
    line-height: 30px;
  }
}
.last-question__descr {
  margin: 0;
  margin-bottom: var(--second-offset);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--color-white);
}
.last-question__input {
  margin-bottom: var(--small-offset);
  max-width: 500px;
}
.last-question__input:nth-of-type(2) {
  margin-bottom: var(--second-offset);
}
@media (max-width: 576px) {
  .last-question__input {
    max-width: none;
  }
}
.last-question__btn {
  min-width: 220px;
}
@media (max-width: 576px) {
  .last-question__btn {
    width: 100%;
    min-width: auto;
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.team {
  position: relative;
  padding: var(--big-offset) 0;
  background-color: var(--color-eastbay);
}
.team__figure {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .team__figure {
    display: none;
  }
}
.team__title {
  color: var(--color-white);
}
.team__list {
  position: relative;
  z-index: 5;
  gap: var(--main-offset) var(--second-offset);
}
.team__item {
  grid-column: 4 span;
}
.team__img {
  overflow: hidden;
  margin-bottom: var(--second-offset);
  border-radius: 4px;
}
.team__subtitle {
  display: block;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
  color: var(--color-white);
}
.team__post {
  display: block;
  font: var(--middle-book);
  color: var(--color-white);
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.faq {
  padding: var(--big-offset) 0;
}
.faq__list {
  margin: 0 auto;
  max-width: 880px;
}
@media (max-width: 576px) {
  .faq {
    padding: var(--main-offset) 0;
  }
}

.faq-accordion {
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
}
.faq-accordion__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%;
  font: var(--prehigh-regular);
  text-align: left;
  color: var(--color-main);
  background-color: transparent;
  cursor: pointer;
}
.faq-accordion__content {
  overflow: hidden;
  padding-right: 70px;
  padding-bottom: 0;
  max-height: 0;
  box-sizing: content-box;
  font: var(--middle-book);
  color: rgba(36, 36, 36, 0.5);
  opacity: 0;
  transition: all 0.3s ease-out;
  will-change: max-height;
}
.faq-accordion__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../img/cross.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(45deg);
  transition: transform 0.3s ease-out;
}
.faq-accordion:not(:first-child) {
  margin-top: -1px;
}

.open .faq-accordion__icon {
  transform: rotate(0deg);
}

.open .faq-accordion__content {
  padding-bottom: 18px;
  opacity: 1;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.contacts {
  padding: var(--big-offset) 0;
  background-color: #f3f6f6;
}
.contacts__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .contacts__container {
    flex-wrap: wrap;
  }
}
.contacts__text {
  margin-right: var(--second-offset);
  width: calc(100% - (680px + var(--second-offset)));
}
@media (max-width: 1024px) {
  .contacts__text {
    margin-right: 0;
    margin-bottom: var(--second-offset);
    width: 100%;
  }
}
.contacts__title {
  display: flex;
  align-items: center;
  margin-bottom: var(--big-offset);
}
.contacts__item {
  margin-bottom: var(--main-offset);
  font-style: normal;
}
.contacts__subtitle {
  margin: 0;
  margin-bottom: var(--main-offset);
  font: var(--small-book);
  text-transform: uppercase;
  color: var(--color-grey);
}
.contacts__adress {
  display: block;
}
@media (max-width: 576px) {
  .contacts__adress {
    font-size: 14px;
  }
}
.contacts__phone {
  outline: none;
  display: inline-block;
  margin-bottom: var(--small-offset);
  font: var(--middle-high-bold);
  color: var(--main-color);
  transition: color 0.3s ease-in-out;
}
.contacts__phone:focus {
  color: var(--color-accent);
}
@media (min-width: 1025px) {
  .contacts__phone:hover {
    color: var(--color-accent);
  }
}
.contacts__phone:active {
  color: var(--color-accent-hover);
}
.contacts__map {
  width: 680px;
  height: 500px;
}
@media (max-width: 1024px) {
  .contacts__map {
    width: 100%;
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.instagram {
  padding: var(--big-offset) 0;
}
.instagram__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .instagram__container {
    justify-content: center;
  }
}
.instagram__left {
  flex-shrink: 0;
  margin-right: var(--small-offset);
  border-radius: 4px;
  width: 380px;
  background-color: var(--color-eastbay);
}
@media (max-width: 576px) {
  .instagram__left {
    width: 100%;
  }
}
.instagram__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - (380px + var(--small-offset)));
}
@media (max-width: 768px) {
  .instagram__right {
    display: none;
  }
}
.instagram__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 160px);
  gap: 15px;
}
.instagram__link {
  display: inline-block;
  margin-bottom: var(--second-offset);
}
.instagram__item {
  overflow: hidden;
  border-radius: 4px;
}
.instagram__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.instagram__item:nth-child(3) {
  grid-column: 2 span;
  grid-row: 2 span;
}
.instagram__item:nth-child(2) {
  grid-row: 2;
}
.instagram__title {
  margin-bottom: var(--second-offset);
  color: var(--color-white);
}
.instagram__descr {
  margin: 0 auto;
  margin-bottom: var(--main-offset);
  max-width: 260px;
  font: var(--middle-book);
  text-align: center;
  color: var(--color-white);
}
.instagram__input {
  margin-bottom: var(--small-offset);
}
.instagram__btn {
  width: 100%;
}
@media (max-width: 576px) {
  .instagram {
    padding: 40px 0;
  }
}

.callback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--main-offset) var(--second-offset);
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.footer {
  padding: 28px 0;
  background-color: var(--color-main);
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .footer__nav .nav__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer__nav .nav__item {
    margin-bottom: var(--small-offset);
  }
}
@media (max-width: 1024px) {
  .footer__left {
    margin-bottom: var(--second-offset);
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.prod-modal {
  border-radius: 4px;
  padding: var(--main-offset);
  width: 1140px;
}
.prod-modal__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--main-offset);
}
.prod-modal__bottom {
  margin-bottom: var(--main-offset);
}
.prod-modal__video {
  width: 100%;
  height: 450px;
}
.prod-modal__video iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal-slider {
  margin-right: var(--second-offset);
  width: calc(50% - var(--second-offset) / 2);
}
.modal-slider__container {
  overflow: hidden;
  margin-bottom: var(--second-offset);
  width: 100%;
  font-size: 0;
}
.modal-slider__container img {
  width: 100%;
  max-height: 460px;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: var(--big-offset);
  width: calc(50% - var(--second-offset) / 2);
}
.modal-info__top {
  display: flex;
  align-items: center;
  margin-bottom: var(--main-offset);
  font: var(--middle-book);
  line-height: 16px;
  color: var(--color-grey);
}
.modal-info__vendor {
  margin-right: var(--main-offset);
}
.modal-info__quantity span {
  color: var(--color-main);
}
.modal-info__title {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
  line-height: 140%;
  color: var(--color-main);
}
.modal-info__rate {
  margin-bottom: var(--second-offset);
}
.modal-info__subtitle {
  display: inline-block;
  margin-bottom: var(--second-offset);
  font: var(--middle-book);
  line-height: 16px;
  color: var(--color-main);
}
.modal-info__price {
  display: flex;
  align-items: center;
}
.modal-info__current-price {
  margin-right: 32px;
  font: var(--middle-high-bold);
  line-height: 30px;
  color: var(--color-main);
}
.modal-info__old-price {
  font: var(--middle-book);
  line-height: 16px;
  color: var(--color-grey);
}
.modal-info__order {
  margin-top: auto;
  width: 100%;
}

.modal-sizes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.modal-sizes__item {
  margin-bottom: var(--second-offset);
}
.modal-sizes__item:not(:last-child) {
  margin-right: var(--second-offset);
}
.modal-sizes__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  padding: 6px 0;
  width: 70px;
  font: var(--small-book);
  color: var(--color-main);
}

.modal-preview {
  display: grid;
  grid-template-columns: repeat(6, 70px);
  gap: var(--second-offset);
}
.modal-preview__item {
  border-radius: 4px;
  height: 75px;
  transition: opacity 0.3s;
  cursor: pointer;
}
.modal-preview__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 1025px) {
  .modal-preview__item:hover {
    opacity: 0.7;
  }
}
.modal-preview__item--active {
  opacity: 0.7;
  pointer-events: none;
}

.modal-note {
  margin-top: var(--second-offset);
}
.modal-note__item {
  padding-left: 25px;
  font: var(--small-book);
  color: var(--color-grey);
  background-image: url("../img/check-list.svg");
  background-position: left center;
  background-size: 15px 12px;
  background-repeat: no-repeat;
}
.modal-note__item:not(:last-child) {
  margin-bottom: var(--small-offset);
}

.prod-bottom {
  display: flex;
}
.prod-bottom__column {
  width: calc(50% - var(--second-offset) / 2);
}
.prod-bottom__column:first-child {
  margin-right: var(--second-offset);
}
.prod-bottom__title {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book);
  color: var(--color-main);
}
.prod-bottom__descr {
  margin: 0;
  max-width: 450px;
  font: var(--middle-book);
  color: var(--color-main);
}

.cart-modal {
  border-radius: 4px;
  padding: var(--main-offset);
  width: 580px;
}
.cart-modal .modal__close {
  display: none;
}
.cart-modal__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--main-offset);
}
.cart-modal__title {
  margin: 0;
  font: var(--prehigh-regular);
  color: var(--color-main);
}
.cart-modal__order-number {
  font: var(--small-book);
  line-height: 14px;
  color: var(--color-grey);
}
.cart-modal__input {
  color: var(--color-grey);
  background-color: #f6f6f6;
}
.cart-modal__input:not(:last-child) {
  margin-bottom: var(--small-offset);
}

.cart-modal-order {
  margin-bottom: var(--main-offset);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 30px;
}
.cart-modal-order__top {
  font: var(--middle-book);
  line-height: 16px;
  color: var(--color-grey);
}
.cart-modal-order__top span {
  font-weight: 700;
  color: var(--color-main);
}
.cart-modal-order__list {
  display: none;
}
.cart-modal-order__list--visible {
  display: block;
}
.cart-modal-order__quantity {
  margin-bottom: var(--second-offset);
}
.cart-modal-order__summ {
  margin-bottom: var(--second-offset);
}
.cart-modal-order .mini-cart__item :not(:last-child) {
  margin-bottom: 14px;
}
.cart-modal-order__show {
  display: inline-flex;
  align-items: center;
  margin-bottom: var(--second-offset);
  color: var(--color-main);
  transition: transform 0.3s ease-in-out;
}
.cart-modal-order__show svg {
  margin-left: 5px;
  width: 7px;
  height: 7px;
  fill: currentColor;
  -o-object-fit: cover;
  object-fit: cover;
}
.cart-modal-order__show--active svg {
  transform: rotate(180deg);
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: var(--main-offset);
}
.nav__link {
  position: relative;
  outline: none;
  font: var(--small-book);
  color: var(--color-white);
}
.nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.nav__link:focus::before {
  transform: scaleX(1);
}
@media (min-width: 1025px) {
  .nav__link:hover::before {
    transform: scaleX(1);
  }
}
.nav__link:active {
  opacity: 0.8;
}

.cart {
  position: relative;
  margin-left: var(--main-offset);
}
.cart__btn {
  position: relative;
  outline: none;
  width: 20px;
  height: 20px;
}
.cart__btn svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--color-white);
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  transition: fill 0.3s ease-in-out;
}
.cart__btn:focus svg {
  fill: var(--color-accent);
}
@media (min-width: 1025px) {
  .cart__btn:hover svg {
    fill: var(--color-accent);
  }
}
.cart__btn:active svg {
  fill: var(--color-accent-hover);
}
.cart__count {
  position: absolute;
  right: -6px;
  bottom: -6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 16px;
  min-width: 16px;
  font: var(--small-book);
  color: var(--color-white);
  background-color: var(--color-accent);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.cart__count--visible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.mini-cart {
  position: absolute;
  right: 0;
  top: calc(100% + 22px);
  width: 480px;
  box-shadow: 0 -4px 10px rgba(0, 13, 84, 0.1);
  background-color: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.mini-cart__top {
  max-height: 323px;
}
.mini-cart__top .simplebar-track.simplebar-vertical {
  right: 5px;
  top: 20px;
  bottom: 20px;
  border-radius: 5px;
  width: 4px;
  background: rgba(77, 77, 77, 0.1);
}
.mini-cart__top .simplebar-scrollbar::before {
  left: 0;
  right: auto;
  border-radius: 5px;
  width: 4px;
  background: rgba(77, 77, 77, 0.2);
  opacity: 1;
}
@media (max-width: 576px) {
  .mini-cart__itog {
    margin-bottom: var(--main-offset);
  }
}
.mini-cart__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--second-offset);
  box-shadow: 0 -4px 10px rgba(0, 13, 84, 0.1);
  background-color: var(--color-white);
}
@media (max-width: 576px) {
  .mini-cart__bottom {
    flex-wrap: wrap;
  }
}
.mini-cart__txt {
  display: block;
  margin-bottom: var(--small-offset);
}
.mini-cart__summ {
  font: var(--prehigh-regular);
  color: #4d4d4d;
}
.mini-cart__btn {
  padding-top: 14px;
  padding-bottom: 14px;
}
@media (max-width: 576px) {
  .mini-cart__btn {
    width: 100%;
  }
}
.mini-cart--visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .mini-cart {
    width: 290px;
  }
}

.logo {
  font: var(--middle-high-bold);
  line-height: 1;
  color: var(--color-white);
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.product {
  overflow: hidden;
  border-radius: 4px;
}
.product__btns {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.product__image {
  position: relative;
  margin-bottom: var(--small-offset);
  width: 100%;
  max-height: 293px;
}
.product__image img {
  display: block;
  width: 100%;
  height: 293px;
  -o-object-fit: cover;
  object-fit: cover;
}
.product__title {
  margin: 0;
  margin-bottom: var(--small-offset);
  font: var(--middle-book);
  color: var(--color-main);
}
.product__price {
  margin: 0;
  font: var(--prehigh-regular);
  color: var(--color-main);
}
.product__btns--active {
  opacity: 1;
}
.product__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: var(--color-main);
  transition: background-color 0.3s ease-in-out;
}
.product__btn svg {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
  object-fit: cover;
  fill: var(--color-white);
}
@media (min-width: 1025px) {
  .product__btn:hover {
    background-color: var(--color-main-hover);
  }
}
.product__btn:first-child {
  margin-right: var(--main-offset);
}
.product__btn--disabled {
  opacity: 0.4;
  pointer-events: none;
}
@media (min-width: 1025px) {
  .product:hover .product__btns {
    opacity: 1;
    visibility: visible;
  }
}

.mini-product {
  display: flex;
  align-items: center;
  padding: var(--small-offset) var(--second-offset);
}
.mini-product__image {
  flex-shrink: 0;
  margin-right: var(--small-offset);
  width: 100px;
  height: 100px;
}
.mini-product__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.mini-product__content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.mini-product__text {
  margin-right: auto;
  max-width: 268px;
}
.mini-product__title {
  margin: 0;
  margin-bottom: 14px;
  font: var(--small-book);
  line-height: 20px;
}
.mini-product__price {
  font: var(--prehigh-regular);
  color: #4d4d4d;
}
.mini-product__delete {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  font-size: 0;
}
.mini-product__delete svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.cart-modal .mini-product {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
}
.cart-modal .mini-product__image {
  flex-shrink: 0;
  margin-right: var(--small-offset);
  width: 80px;
  height: 45px;
}
.cart-modal .mini-product__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cart-modal .mini-product__content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.cart-modal .mini-product__text {
  margin-right: auto;
  max-width: 290px;
}
.cart-modal .mini-product__title {
  margin: 0;
  margin-bottom: var(--small-offset);
  font: var(--small-book);
  line-height: 20px;
}
.cart-modal .mini-product__price {
  font: var(--prehigh-regular);
  color: #4d4d4d;
}
.cart-modal .mini-product__delete {
  width: auto;
  height: auto;
  font: var(--small-book);
  color: var(--color-grey);
}
.cart-modal .mini-product__delete svg {
  display: none;
}

.sizes-table {
  width: 100%;
  border-collapse: collapse;
}
.sizes-table caption {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.sizes-table td {
  padding: 17px 5px;
  font: var(--middle-book);
  text-align: center;
  color: var(--color-main);
  border: 1px solid var(--color-cameo);
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.social {
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: var(--second-offset);
}
.social__link {
  display: block;
  outline: none;
  width: 44px;
  height: 44px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
}
.social__link--vk {
  background-image: url("../img/vk.svg");
}
.social__link--insta {
  background-image: url("../img/insta.svg");
}
.social__link:focus {
  opacity: 0.7;
}
@media (min-width: 1025px) {
  .social__link:hover {
    opacity: 0.7;
  }
}
.social__link:active {
  opacity: 0.9;
}
/*# sourceMappingURL=main.css.map */
